body {
    font-family: Arial, sans-serif;
    background-color: #f9f8f8;
    color: #cdad00; /* Goldenrod3 */
    margin: 0;
    padding: 0;
    text-align: center;
}



header h1 {
    color: #cdad00;
    text-transform: uppercase;
    margin: 0;
}

main {
    padding: 100px;
}

section {
    margin: 20px auto;
    width: 90%;
    max-width: 800px;
}

section h2 {
    color: #000000;
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-align: left;
    border-bottom: 2px solid #cdad00;
    padding-bottom: 5px;
}

.notification, .message, .alert {
    border: 1px solid #cdad00;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #262626;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.notification p, .message p, .alert p { 
    margin: 0 0 10px 0;
    text-align: left;
}

button {
    background-color: #cdad00;
    color: #1a1a1a;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b69300;
}

/* Estilos específicos para alertas */
.alert.warning {
    border-color: #ffcc00;
    background-color: #3a2d00;
    color: #ffcc00;
}

.alert.error {
    border-color: #ff6347;
    background-color: #3a1a1a;
    color: #ff6347;
}
